<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="MTM" value="https://themtmagency.pkgs.visualstudio.com/MTM/_packaging/MTM/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <MTM>
            <add key="Username" value="john@themtmagency.com" />
            <add key="ClearTextPassword" value="uftkgpifdiarkspl5mvswspl76ejh3h6z6u3gkoqyads2vfn5rrq" />
        </MTM>
    </packageSourceCredentials>
</configuration>